/* root variables */
:root {
    font-family: "Montserrat", serif;
    --babyblue:rgba(122, 191, 191, .5);
    --teal: #7ABFBF;
    --Black: #0d0d0d;
    --white: #f2f2f2;
    --orange: #EB5428;
}


* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    font-family: 'Montserrat';
    /* outline: 1px solid red; */
}

html {
    background-color: rgb(122, 191, 191, .5);

}

body {
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    padding: 50px 5px 0 5px;
    max-width: 450px;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue'
}

p, dd, li, input, nav {
    font-family: 'montserrat'
}

section {
    max-width: 414px;
}


nav {
    grid-area: nav;
    min-width: 450px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    font-size: 20px;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

nav ul #logo {
    background-color:#EB5428;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60%;
    padding: 0 24%;
}

nav ul #sign-in {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 15px;
    padding-bottom: 23px;
}


#hero_img {
    max-width: 450px;
    position: relative;
    right: 4.3%;
}

#chef {
    max-width: 414px;
}

form {
    margin: 30px 10% 15px 10%;
    padding: 0;
    display: inline-block;
}

form input {
    height: 40px;
    border:2px solid #EB5428;
}

form svg {
    position: relative;
    top: 15px;
    right: 4px;
    background-color:#EB5428;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue';
    padding-top: 3%;
    font-size: 40px;
}



menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 5px;
    padding: 12% 0 0 0;
}

menu li {
    list-style: none;
}

menu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'bebas neue';
    font-size: 20px;
    flex-wrap: nowrap;
    color:#EB5428;
    
}

menu li a svg {
    position: relative;
    transform: translateX(-90%);
    top: -32px;
}

#jump {
    transform: translateX(-170%);
}



